<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js-todo-app</title>
</head>
<body>
<!-- 
<div id="app">
<p>{{ message }}</p>
<input v-model="message">

<p>{{count}}</p>
<p>{{user.lastName}}</p>
<p>{{user.firstName}}</p>
<p>{{user.prefecture}}</p>
</div>



<div id = "app-2">
   <input type="text" v-bind:value ="message">
</div>

<div id = "app-3">
     <p v-show ="toggle">React</p>
</div> -->
<!-- 
<div id="app-4" >
   <ol>
       <li v-for="color in colors">{{color}}</li>
   </ol>
</div> -->

<div id = "app-5">
   <ul>
       <li v-for ="value in human">{{value}}</li>
   </ul>
   <hr>
   <ul>
       <li v-for ="(value, key) in human">
           {{ key }}:{{ value }}
       </li>
   </ul>    
</div>

<div id="app-6">
   <button v-on:click="onclick">
       Click!
   </button>
   <p>{{now}}</p>
</div>




<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="./js/main.js"></script>
<script>
    console.log('hello world');
</script>
</body>
</html>